# Data Science Ecosystem

## Author
Carlo Figueroa

This notebook summarizes and demonstrates Data Science Tools and Ecosystems.

**Objectives**:
* List of popular coding languages
* List of widely used libraries
  * Python libraries
  * R libraries
  * Java libraries
* Few examples of evaluating arithmetic expressions in Python
  * Muliplication and addition
  * Division

Some popular coding languages data scientists use:
1. Python
2. SQL
3. R
4. Java
5. Julia

Some widely utilized libraries data scientists use:

**Python Libraries**:
1. NumPy
2. Pandas
3. scikit-learn

**R Libraries**:
1. dplyr
2. ggplot2
3. caret

**Java libraries**:
1. Apache Spark
2. Weka
3. Apache Hadoop

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Visual Studio Code |

### Few examples of evaluating arithmetic expressions in Python

In [1]:
# Following PEMDAS, this expression first multiplies then add the integers
(3*4)+5

17

In [2]:
# This expression will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335